@charset "utf-8";
/* default */
#react-application {
    background: #aaa;
}
body {
    background: #ccc;
}
.wrap {
    background:#ccc;
    &:before {
        background:#333;
        opacity : 1;
        border:none;
        table-layout: fixed;
        z-index:1;
        position:absolute;
        display:block;
        content:"";
    }
    .li {
        border-bottom:1px solid #ccc;
        a {
            color:#333;
        }
    }
    .lnk {
        display:block;
        position:absolute;
        right:5px;
        color:#555;
        transform:rotateY(0deg);
    }
}